<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/metrodna.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,500,700,900|Orbitron|Oswald:300,400,700|Lobster" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <title>Dashboard</title>
  <script type="text/javascript">
	$(document).ready(function() {
	  function scrollDown(el) {
		el.animate({ scrollTop: el[0].scrollHeight - el.height() + 10 }, 8000, function() { scrollUp(el) });
	  };
	  function scrollUp(el) {
		el.animate({ scrollTop: 10 }, 8000, function() { scrollDown(el); });
	  };
	  scrollDown($(".transports-container"));
	});
  </script>
</head>
<body>
  <div class="col-xs-12 np header"></div>
  <div class="col-lg-9 col-md-9 col-xs-12 np left-block">
	<div class="col-lg-12 col-md-12 col-xs-12 np voisins">
	  <div class="container-custom">
		<div class="title col-xs-12">
		  <h1 class="col-xs-9 col-xs-push-3">ANNONCES</h1>
		</div>


		{{#each messages}}

		{{#if this.syndic }}
		<div class="block-message syndic col-xs-12">
		{{else}}
		<div class="block-message col-xs-12">
		{{/if}}

		  <div class="logo-user col-xs-3">
			<div class="col-xs-4 np">
			  {{#if this.syndic }}
			  <img class="img-responsive" src="images/Syndic.png" alt="logo user">
			  {{else}}
			  <img class="img-responsive" src="images/Homme.png" alt="logo user">
			  {{/if}}
			</div>
			<div class="col-xs-8">
			  <p class="info-author">{{this.username}}</p>
			  <p class="info-date">{{this.date}}</p>
			  <p class="info-number">06 11 22 33 44</p>
			</div>
		  </div>

		  <div class="col-xs-9 np">
			<div class="col-xs-12 np">
			  <p class="message-content">{{this.message}}</p>
			</div>
		  </div>
		</div>

		{{/each}}
	  </div>
	</div>

	<div class="col-lg-4 col-md-4 col-xs-12 np pub">
	  <img class="img-responsive" src="images/pub2.jpg" alt="responsive image" />
	</div>

	<div class="col-xs-8 np header"></div>

	<div class="col-lg-4 col-md-4 col-xs-12 np aujourdhui">
		<div class="container-custom">
			<div class="col-xs-12 block-message message-jour">
				<div class="col-xs-11 col-xs-push-1">
					<p class="message-content">Pingouins dans les champs, hiver méchant.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-xs-12 np meteo">
		<div class="container-custom">
			<div class="col-xs-12">
				<div class="col-xs-10 col-xs-push-1">
					<p id="time" class="hour"></p>
					<p id="date" class="date"></p>
					<script>
						let d = new Date();
						console.log(d.getHours());
						console.log(d.getMinutes());
						let time = d.getHours()+':'+d.getMinutes();
						document.getElementById("time").innerHTML = time;
					</script>
					<script>
						console.log(d.getDate());
						let date = d.getDate() +'/'+ (parseInt(d.getMonth()) + 1) +'/'+ d.getFullYear();
						document.getElementById("date").innerHTML = date;
					</script>
				</div>
				<div class="col-xs-12 np meteo-container">
						<div class="col-xs-6 np meteo-block">
							<div class="col-xs-12">
								<span class="meteo-time">Matin</span>
							</div>
							<div class="col-xs-push-2 col-xs-8">
								<img class="img-responsive" src="/images/meteo/nuage.ico">
							</div>
							 <div class="col-xs-12">
								<span class="meteo-celsius">2</span>
							</div>
						</div>
						<div class="col-xs-6 np meteo-block">
							<div class="col-xs-12">
								<span class="meteo-time">Apres-midi</span>
							</div>
							<div class="col-xs-push-2 col-xs-8">
								<img class="img-responsive" src="/images/meteo/nuage.ico">
							</div>
								<div class="col-xs-12">
									<span class="meteo-celsius">7</span>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>

 	<div class="col-lg-3 col-md-3 col-xs-12 np right-block hidden-sm">
 		<div class="col-xs-12 np transports">
 			<div class="title col-xs-12">
 				<h1 class="col-xs-10 col-xs-push-1">TRANSPORTS</h1>
 			</div>
 			<div class="col-xs-10 col-xs-push-1 transports-container">
       			<iframe name="test" src="/app/ratp" frameborder="0" border="0" cellspacing="0" style="width: 100%; height: 100%;"></iframe>
       		</div>
       	</div>
     </div>



</div>



</body>
</html>