<div class="container-fluid">
	<hr />
	<form method="POST">
		<div class="form-group row">
			<div class="col-sm-3">
				<input class="form-control" name="username" type="text" pattern="\w+" required placeholder="Votre nom d'utilisateur" />
			</div>
			<div class="col-sm-9">
				<input class="form-control" name="message" type="text" required placeholder="Votre message" />
			</div>
			<br />
			<br />
			<br />
			<div class="col-sm-12">
				<button class="btn btn-primary btn-block" type="submit" style="border: none;background-color:#37becb">Poster votre message</button>
			</div>
		</div>
	</form>
	<hr />

	<div style="overflow:auto;">
	{{#each messages}}
		{{#if this.syndic }}
			<div class="block-message syndic col-xs-12">
		{{else}}
			<div class="block-message col-xs-12">
		{{/if}}

		<div class="logo-user col-xs-3">
			<div class="col-xs-4 np">
				{{#if this.syndic }}
					<img class="img-responsive" src="/css/Syndic.png" alt="logo user">
				{{else}}
					<img class="img-responsive" src="/css/Homme.png" alt="logo user">
				{{/if}}
			</div>
			<div class="col-xs-8">
				<p class="info-author">{{this.username}}</p>
				<p class="info-date">{{this.date}}</p>
			</div>
		</div>

		<div class="col-xs-9 np">
			<div class="col-xs-12 np">
				<p class="message-content">{{this.message}}</p>
			</div>
			<form action="/app/messages/delete/{{this.id}}" method="POST">
				<button type="submit" class="btn btn-danger">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
				<button type="submit" class="btn" style="background-color:#37becb; color:#ffffff;">
					<i class="glyphicon glyphicon-plus-sign"></i>
				</button>
			</form>
		</div>
	</div>
	{{/each}}
	</div>
</div>
